@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0 0% 14%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 34 100% 50%; /*#FD9100*/
    --primary-foreground: 0 0% 100%; /* #fff */
    --tertiary-background: 0, 0%, 14% /* #232323 */;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 210, 3%, 75%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --navbar-height: 150px;
    --profile-header-height: 80px;
    /* --swiper-pagination-bottom: -21px; */
    /* --swiper-pagination-color: #8b96a5; */
    /* --swiper-pagination-bullet-inactive-color: #8b96a5; */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center gap-x-2 rounded-lg bg-black px-4 py-2 text-sm text-white;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table-scrollbar::-webkit-scrollbar {
  width: 10px; /* 'thin' equivalent for Webkit browsers */
  height: 10px; /* 'thin' equivalent for Webkit browsers */
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6975866e;
  border-radius: 0.3rem;
}

.table-scrollbar::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
  border-radius: 0.3rem;
}

.comp-heading {
  @apply text-lg font-[600] tracking-tight md:text-2xl lg:text-5xl;
}

.comp-subheading {
  @apply text-sm text-gray-700 md:text-lg lg:text-2xl;
}

.swiper-pagination-bullet-active {
  background: #8b96a5 !important;
}
.swiper-pagination-bullet {
  border: 1px solid #8b96a5 !important;
  opacity: 1 !important;
}

.swiper-slide {
  width: 100% !important;
}

/* Styling for input range */
.range-input::-webkit-slider-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #4caf50; /* Green thumb */
  border-radius: 50%;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #4caf50; /* Green thumb */
  border-radius: 50%;
  cursor: pointer;
}

.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #666668; /* Gray track */
  outline: none;
  border-radius: 10px;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fd9100; /* Primary color handle */
  cursor: pointer;
  border: 2px solid white;
}

.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fd9100; /* Primary color handle */
  cursor: pointer;
  border: 2px solid white;
}

.custom-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fd9100; /* Primary color handle */
  cursor: pointer;
  border: 2px solid white;
}

/* global.css */
.blog-content .wmde-markdown {
  font-family: "Source Serif 4", serif !important;
}

/* Responsive font sizes within .blog-content */
@media (min-width: 1024px) {
  /* Large screens (lg) */
  .blog-content .wmde-markdown {
    font-size: 24px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Medium screens (md) */
  .blog-content .wmde-markdown {
    font-size: 18px !important;
  }
}

@media (max-width: 767px) {
  /* Small screens (sm) */
  .blog-content .wmde-markdown {
    font-size: 14px !important;
  }
}

.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #000000;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}
